<%- include('header'); -%>
    <h1>About this Site:</h1>
    <p class="lead">Music Bookings is a website which allows you to organise your students lessons all in one place.</p>
    <p class="lead">
      <a href="/calendar" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Book a Lesson</a>
    </p>
<%- include('footer'); -%>
