<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Thank you for using Music Bookings. You have successfully logged out</h1>
    <p>You will be redirected to the Login Page.</p>

  </body>
  <script type="text/javascript">
    setTimeout(function(){
      window.location = "/login"
    }, 5000)
  </script>
</html>
